<!DOCTYPE html>
<html>
<head>
	<title>Minimal Resume Template</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<div class="container">
		<div class="hero">
			<h1 class="name"><strong>Ekaterina</strong> Gracheva</h1>
			<span class="job-title">Postdoctoral Fellow</span>
			<span class="email">gracheva.ekaterina@nims.go.jp</span>

			<h2 class="lead">Artificial intelligence for materials development</h2>
		</div>
	</div>

<!-- Skills and interest section -->
	<div class="container">

		<div class="sections">
			<h2 class="section-title">Education</h2>

			<div class="list-card">
				<span class="exp"> 2012, Master </span>
				<div>
					<h3>Lomonosov Moscow State University</h3>
					<span> Nuclear and elementary particle physics</span>
				</div>
			</div>
			
			<div class="list-card">
				<span class="exp"> 2022, PhD </span>
				<div>
					<h3>University of Tsukuba</h3>
					<span>Computer science</span>
				</div>
			</div>	

		<div class="sections">
			<h2 class="section-title">Online education</h2>

			<div class="list-card">
				<span class="exp"> 2016 </span>
				<div>
					<h3>Machine learning (Coursera)</h3>
					<span> Andrew Ng</span>
				</div>
			</div>

			<div class="list-card">
				<span class="exp"> 2018 </span>
				<div>
					<h3>Introduction to Deep Learning (Coursera)</h3>
					<span> National Research University Higher School of Economics</span>
				</div>
			</div>
			
			<div class="list-card">
				<span class="exp"> 2018 </span>
				<div>
					<h3>Deep Learning Specialization (Coursera)</h3>
					<span>Andrew Ng</span>
				</div>
			</div>	


		</div>
		<div class="sections">
				<h2 class="section-title"> Languages</h2>
				
				<div class="list-card">
					<div>
						<h3>Scripting</h3>
						<span>Python, TensorFlow/Keras, PyTorch</span>
					</div>
				</div>	

				<div class="list-card">
					<div>
						<h3>Spoken</h3>
						<span>Russian, French, English, Japanese</span>
					</div>
				</div>		
		</div>
	</div>

	<!-- Achievements -->

	<div class="container">
		<div class="hero">
			<h1 class="name"> Research projects </h1>
	<div class="container cards">
		</div>
	</div>

		<div class="card">

			<div class="skill-meta">
				<h3>Cheminformatics</h3>
				<span>Prediction of polymer properties based on text molecular representation (SMILES)</span>
			</div>
		</div>

		<div class="card">

			<div class="skill-meta">
				<h3>Neural Architecture Search</h3>
				<span>Development of a zero-cost NAS metric</span>
			</div>
		</div>

			
		<div class="card">

			<div class="skill-meta">
				<h3>Software</h3>
				<span>Development of the SMILES-X molecular characterisation package </span>
			</div>
		</div>

			
		<div class="card">

			<div class="skill-meta">
				<h3>Calibration</h3>
				<span>Data calibration, Gaussian process regression, natural language processing, neural architecture search</span>
			</div>
		</div>


	</div>

	<!-- Timeline -->

	<div class="container">
		<ol class="timeline">

		  <li>
		    <p class="line">Experiences</p>
		    <span class="point"></span>
		    <p class="description">
		      CPPM, Marseille, France
		    </p>
		    <span class="date">Feb. 2012 - Dec. 2013</span>
		  </li>

		  <li>
		    <span class="point"></span>
		    <p class="description">
		      ISM, Tachikawa, Japan, Research Assistant
		    </p>
		    <span class="date"> Jun. 2016 - Mar. 2017</span>
		  </li>

		  <li>
		    <span class="point"></span>
		    <p class="description">
		      NIMS, Tsukuba, Japan, Research Assistant
		    </p>
		    <span class="date">May. 2018 - Mar. 2022</span>
		  </li>

		  <li>
		    <span class="point"></span>
		    <p class="description">
		      NIMS, Tsukuba, Japan, Postdoctoral Fellow
		    </p>
		    <span class="date">Apr. 2022 - Now</span>
		  </li>


	<div class="container">

	<div class="sections">
		<h2 class="section-title">Publications</h2>

		<div class="list-card">
			<div>
				<h3><a href="https://doi.org/10.48550/arXiv.2302.04406">Light and accurate: neural architecture search via two constant shared weights initialisations</a></h3>
				<span> <u>Ekaterina Gracheva</u></span>
			</div>
		</div>

		<div class="list-card">
			<div>
				<h3><a href="https://doi.org/10.1080/27660400.202 1.1993729">Prediction of the coefficient of linear thermal expansion for the amorphous homopolymers based on chemical structure using machine learning</a></h3>
				<span> <u>Ekaterina Gracheva</u>, Guillaume Lambard, Sadaki Samitsu, Keitaro Sodeyama and Ayako Nakata</span>
			</div>
		</div>
		
		<div class="list-card">
			<div>
				<h3><a href="https://doi.org/10.1016/j.array.2021.1 00082">Trainless model performance estimation based on random weights initialisations for neural architecture search</a></h3>
				<span> <u>Ekaterina Gracheva</u></span>
			</div>
		</div>

		<div class="list-card">
			<div>
				<h3><a href="https://doi.org/10.1088/2632- 2153/ab57f3">SMILES-X: autonomous molecular compounds characterization for small datasets without descriptors</a></h3>
				<span> Guillaume Lambard, <u>Ekaterina Gracheva</u></span>
			</div>
		</div>

		</ol>


	</div>


	<br><br>


</body>
</html>